.wrapper__info {
  background-image: url("../../../static/wrapper-info.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0 240px;
}

.wrapper__info-title {
  width: 565px;
  margin: 0 auto 30px;
  text-align: center;
  font-size: 55px;
  line-height: 67px;
  font-family: "Roboto", sans-serif;
  color: #000000;
}

.wrapper__info-description {
  margin: auto;
  width: 500px;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  font-family: "Roboto", sans-serif;
}

span {
  color: #6f1eaa;
}

.wrapper__info-button {
  display: flex;
  background-color: #6f1eaa;
  border: none;
  border-radius: 24px;
  padding: 15px 40px;
  cursor: pointer;
  margin: 20px auto 0;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
